<script type="text/javascript">
    var params = {
        cjmanagerdataUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/cjmanager/data",
        cjmanagerOperatorUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/cjmanager/operator",
        cjmanagerGetcjinfoUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/cjmanager/getcjinfo",
        cjmanagerCjeditUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/cjmanager/cjedit",
        cjmanagerCjinsertUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/cjmanager/cjinsert"
    };

</script>
<script type="text/javascript" src="/static/js/app/ticket/cjManager.js"></script>