<script type="text/javascript">
    var params = {
        addLimitInfoUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/operation/addLimitInfo",
        rmLimitInfoUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/operation/rmLimitInfo",
        findLimitInfoAllUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/operation/findLimitInfoAll",
        getLimitAddInfoUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/operation/getLimitAddInfo",
    };

</script>
<script type="text/javascript" src="/static/js/plugins/daterangepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/static/js/plugins/daterangepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="/static/js/app/ticket/limitinfo.js"></script>