<script type="text/javascript">
    var params = {
        tsListUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/search/ticketsurplus/findtsall",
        tsContextUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/search/ticketsurplus/findtsac",
        rmTsUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/search/ticketsurplus/deletets",
        tsDownloadSourceUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/search/ticketsurplus/download?",
    };

</script>
<script type="text/javascript" src="/static/js/app/ticket/ticketsurplus.js"></script>