<script type="text/javascript">
    var params = {
        getLotteryNumsUrl:"http://<<<.Address>>>:<<<.HttpPort>>>/search/history/getLottoryNums",
        getHistoryCount:"http://<<<.Address>>>:<<<.HttpPort>>>/search/history/getHistoryCount",
        getTicketContent:"http://<<<.Address>>>:<<<.HttpPort>>>/search/history/getTicketContent",
        getHistoryList:"http://<<<.Address>>>:<<<.HttpPort>>>/search/history/getHistoryList"
    };

</script>

<script type="text/javascript" src="/static/js/plugins/daterangepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/static/js/plugins/daterangepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="/static/js/app/ticket/historyTable.js"></script>


