<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><<<.Title>>></title>
        <link rel="icon" href="favicon.ico" type="image/x-icon" />

            <!-- CSS INCLUDE -->

        <link rel="stylesheet" type="text/css" id="theme" href="/static/css/theme-default.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/sweetAlert/sweetalert.css"/>
        <!-- EOF CSS INCLUDE -->
    </head>
    <body id="webApp">
            <!-- START PAGE CONTAINER -->
        <div class="page-container">
                <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                    <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="javascript:void(0)">睿择彩票</a>
                        <a href="javascript:void(0)" class="x-navigation-control"></a>
                    </li>q
                    <li class="xn-profile">
                        <div class="profile">
                          <div class="profile-data">
                              <div class="profile-data-name">管理员</div>
                              <div class="profile-data-title">站点出票，兑奖，反打事宜</div>
                          </div>
                        </div>
                    </li>
                </ul>

                <ul class="x-navigation">
                    <li class="xn-title">功能列表</li>
                    <li>
                        <a href="/" title="监控列表"><span class="fa fa-dashboard"></span>监控</a>
                    </li>
                    <li>
                        <a href="/cjmanager" title="彩机管理"><span class="fa fa-desktop" ></span>彩机</a>
                    </li>
                    <li>
                        <a href="#" title="查询相关"><span class="glyphicon glyphicon-search"></span>查询</a>
                        <ul>
                            <li><a href="/search/bigprize">大奖票查询</a></li>
                            <li><a href="#">历史票查询</a></li>
                            <!--<li><a href="#">兑奖票查询</a></li>-->
                        </ul>
                    </li>
                    <li>
                        <a href="/sysconfig" title="系统配置"><span class="fa fa-cogs"></span>系统配置</a>
                    </li>
                </ul>

                    <!-- END X-NAVIGATION -->
            </div>
                <!-- END PAGE SIDEBAR -->

                <!-- PAGE CONTENT -->
            <div class="page-content">

                    <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <li class="xn-label" style="padding: 10px 10px;">
                        <span class="label label-info label-form">监控地址：<a target="_blank" style="color: #FFFFFF;" href="http://<<<.Address>>>:<<<.HttpPort>>>">http://<<<.Address>>>:<<<.HttpPort>>></a></span>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                        <!-- TASKS -->
                    <li class="xn-icon-button pull-right" id="myError">
                        <a href="#"><span class="fa fa-tasks"></span></a>
                        <div class="informer informer-warning"> </div>
                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-tasks"></span> 错误信息 </h3>
                            </div>
                            <div class="panel-body list-group scroll">
                                <a class="list-group-item" href="#"  v-for="err in errorLog.msg" >
                                    <h5 title="err.terminalId" v-on:click="queryError(err)">
                                        [报警时间]: err.createTime <br />
                                        [终端号]: err.terminalId <br />
                                        [站点]: getGameName(err.siteId)-err.siteId <br />
                                        [明细]: err.detail
                                    </h5>
                                </a>
                            </div>
                            <div class="panel-footer text-center">
                                <button class="btn btn-primary" v-on:click="displayAll()">全部错误</button>
                                <button class="btn btn-primary" v-on:click="checkedAllURL()">全部标记已读</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <label class="text-right" for="myCheckbox">
                                    <input id="myCheckbox" name="myCheckbox" class="right" type="checkbox">不再提示
                                </label>

                            </div>
                        </div>
                    </li>

                        <!-- END TASKS -->
                </ul>
                    <!-- END X-NAVIGATION VERTICAL -->

                <div id="appContent">
                    <<<.LayoutContent>>>
                </div>

            </div>
                <!-- END PAGE CONTENT -->
        </div>
            <!-- END PAGE CONTAINER -->


            <!-- START PLUGINS -->
        <script type="text/javascript" src="/static/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/jquery/jquery.hashchange.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/vue/vue.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/formatDate/formatDate.js"></script>
        <script type="text/javascript" src="/static/js/plugins/sweetAlert/sweetalert.min.js"></script>
            <!-- END PLUGINS -->

            <!-- START THIS PAGE PLUGINS-->
        <script type="text/javascript" src="/static/js/plugins/icheck/icheck.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/scrolltotop/scrolltopcontrol.js"></script>

        <script type="text/javascript" src="/static/js/plugins/morris/raphael-min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/morris/morris.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/rickshaw/d3.v3.js"></script>
        <script type="text/javascript" src="/static/js/plugins/rickshaw/rickshaw.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script type="text/javascript" src="/static/js/plugins/owl/owl.carousel.min.js"></script>

        <script type="text/javascript" src="/static/js/plugins/moment.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/daterangepicker/daterangepicker.js"></script>
        <script type="text/javascript" src="/static/js/plugins/jedate/jedate.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/datatables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/bootstrap/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/static/js/plugins/bootstrap/bootstrap-file-input.js"></script>
        <script type="text/javascript" src="/static/js/plugins/bootstrap/bootstrap-select.js"></script>
        <script type="text/javascript" src="/static/js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/webui-popover/jquery.webui-popover.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/smartwizard/jquery.smartWizard-2.0.min.js"></script>
        <script type='text/javascript' src="/static/js/plugins/validationengine/languages/jquery.validationEngine-zh_CN.js"></script>
        <script type='text/javascript' src="/static/js/plugins/validationengine/jquery.validationEngine.js"></script>
        <script type="text/javascript" src="/static/js/plugins/noty/jquery.noty.js"></script>
        <script type="text/javascript" src="/static/js/plugins/noty/layouts/topCenter.js"></script>
        <script type="text/javascript" src="/static/js/plugins/noty/layouts/topLeft.js"></script>
        <script type="text/javascript" src="/static/js/plugins/noty/layouts/topRight.js"></script>
        <script type="text/javascript" src="/static/js/plugins/noty/themes/default.js"></script>
            <!-- END THIS PAGE PLUGINS-->
            <!-- START TEMPLATE -->

            <script type="text/javascript" src="/static/js/plugins.js"></script>
        <script type="text/javascript" src="/static/js/actions.js"></script>
        <script type="text/javascript" src="/static/js/settings.js"></script>
        <script type="text/javascript" src="/static/js/app/constant.js"></script>
        <script type="text/javascript" src="/static/js/app/common.js"></script>
        <script type="text/javascript" src="/static/js/app/components/breadcrumb.js"></script>
        <script type="text/javascript" src="/static/js/plugins/fileupload/jquery.fileupload.js"></script>
        <script type="text/javascript" src="/static/js/plugins/fileinput/fileinput.min.js"></script>

            <!-- END TEMPLATE -->
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript" src="/static/js/app/main.js"></script>
        <script type="text/javascript">

            var mu = document.getElementById("video");

            function play() {
                mu.play();
            }

            function replay() {
                mu.load();
            }

            function pause() {
                mu.pause();
            }
        </script>
            <<<.Scripts>>>
    </body>
</html>
