<script type="text/javascript">
    var params = {
        bigPrizeSearchUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/search/bigprize/data",
        batchDownUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/search/bigprize/downfilesforbatch",
        oneDownloadUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/search/bigprize/downfile/",
        DownloadUrl: "http://<<<.Address>>>:<<<.HttpPort>>>/search/bigprize/batchdownload/",
    };

</script>
<script type="text/javascript" src="/static/js/app/ticket/bigPrizeList.js"></script>
